$blue: #00a1d6;  
$pink: #f25d8e;
$white: #fff;
$black:#222;
$grau: #99a2aa;
$border_color: #ccd0d7;

//动画
@mixin transition($time){
	-webkit-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}

// 背景图片地址和大小
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

//圆角
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//定位上下左右居中
@mixin center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}


//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}
